<section class="section-2">
    <div class="container">
        <div class="row w-100">
            <div class="col-sm-6">
                <div class="d-flex">
                    <div class="mr-3">
                        <div class="flex-box">
                            <img src="assets/images/icon-1.png">
                            <h6>Quick cash disbursement</h6>
                            <p>Get terms loans that your business needs within 72 hrs</p>
                        </div>
                        <div class="flex-box">
                            <img src="assets/images/icon-2.png">
                            <h6>Low-interest rate</h6>
                            <p>Achieve your financial goals with an amazing interest rate starting at 13% per annum</p>
                        </div>
                        <div class="flex-box">
                            <img src="assets/images/icon-3.png">
                            <h6>Zero Paperwork</h6>
                            <p>Get started instantly by submitting only your basic details & bank statements</p>
                        </div>
                    </div>
                    <div class="align-self-center">
                        <div class="flex-box">
                            <img src="assets/images/icon-4.png">
                            <h6>Ace your business finances</h6>
                            <p>Manage banking, accounting & everything in between, on one platform</p>
                        </div>
                        <div class="flex-box">
                            <img src="assets/images/icon-5.png">
                            <h6>Loans to fight COVID-19}</h6>
                            <p>Zero EMI for first 3 months on Back-to-Business loans of upto 1 lakh</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-6">
                <div class="open-account">
                    <h3 class="mb-3">Boost your business with Open<br></h3>
                    <p>Get your hands on a term loan that’s crafted for your business</p>
                    <button class="open-account-btn">Get an Open Account</button>
                </div>
            </div>
        </div>
    </div>

</section>